.app_dark_theme {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --inverted-primary-color: #0232c2;
  --secondary-color: #049604;
  --inverted-secondary-color: #0449e0;
  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
  //code
  --code-bg: #00003f;
  // card
  --card-bg: #14148b;
}
