.app_gold_theme {
  --bg-color: #f8ce00;
  --inverted-bg-color: #fbfaf4;
  --primary-color: #d63900;
  --inverted-primary-color: #ffd700;
  --secondary-color: #00003f; // #f9f8f0;
  --inverted-secondary-color: #d63900;
  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  //code
  --code-bg: #ffe674;
}
