@import "./normal.scss";
@import "./dark.scss";
@import "./global.scss";
@import "./reset.scss";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  transition: all var(--animation-delay);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
