@import "./normal.scss";
@import "./dark.scss";
@import "./gold.scss";
@import "./global.scss";
@import "./reset.scss";

body {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
  transition: all var(--animation-delay);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 45px; // 45px --font-line-l ??
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  width: calc(100% - var(--sidebar-width));
}
