@import 'src/app/styles/reset';
@import 'src/app/styles/variables/global';
@import 'src/app/styles/themes/normal';
@import 'src/app/styles/themes/dark';

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
