.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;
  --primary-color: #0232c2;
  --inverted-primary-color: #04ff04;
  --secondary-color: #496dd5;
  --inverted-secondary-color: #049604;
}
