.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width var(--animation-delay);
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.lang {
  margin-left: 20px;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.links {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.items {
  margin-left: 30px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  animation: var(--animation-delay) ease-in-out sidebar-collapsed;

  .switchers {
    flex-direction: column;
    animation: var(--animation-delay) ease-in-out  switchers-collapsed;
  }

  .lang {
    margin-left: 0;
  }

  .link {
    opacity: 0;
    //transition: var(--animation-delay) opacity;
    animation: var(--animation-delay) ease-in-out link-collapsed;
    width: 0;
  }
}

@keyframes switchers-collapsed {
  from {
    flex-direction: row;
  }

  to {
    flex-direction: column;
  }
}

@keyframes sidebar-collapsed {
  from {
    width: var(--sidebar-width);
  }

  to {
    width: var(--sidebar-width-collapsed);
  }
}
