.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
}

.editBtn {
  margin-left: auto;
}

.input {
  margin-top: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  //height: 50vh;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
