.appLink {
  color: var(--primary-color);

  &:hover {
    opacity: var(--hover-opacity);
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-secondary-color);
}

.red {
  color: red;
}
